# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Virtual Environment
# =========================
venv/
.venv/

# =========================
# Secrets / Credentials
# =========================
json/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
